.sidebar.wide{
  max-width: 40vw;
  border: 1px solid #ddd;
}

.sidebar.retractable{
  transition: max-width 0.2s ease-in-out, min-width 0.2s ease-in-out;
  overflow-x: hidden;
}

.retracted{
  max-width: 0 !important;
  min-width: 0 !important;
}

.server{
  font-family: monospace;
  background-color: black;
  color: #EEE;
  padding: 0.5em;
  max-height: 80vh;
  overflow-y: scroll;
}

.unicode-icon{
  font-weight: bold;
  font-size: 100%;
  padding-right: 0.2em;
  margin-left: -0.5em;
  margin-right: 0.5em;
}
.form-control::after{
  content: ' '; /* Hotfix for button padding with React*/
}

.main-container{
  padding: 0.2em;
  max-width: 50rem;
  margin: 0 auto;
}

.game-creation select{
  padding: 0;
  margin-bottom: 0.5em;
}

.game-creation input {
  font-size: 200%;
  margin-bottom: 0.5em;
}

.game-creation code {
  display: block;
  overflow: auto;
}

.game-creation div#vs {
  font-size: 150%;
  text-align: center;
  margin: 1em auto;
}

.game-creation div#start button {
  font-size: 200%;
}

.replay-viewer{
  width: 100%;
  height: 100%;
}

.replay-viewer>canvas{
  width: 100%;
  height: 100%;
}

.replay-controls button {
  font-size: 3vh;
}

.replay-viewer > .replay-controls {
    position: absolute;
    height: 5vh;
    bottom: 0;
    width: 100%;
    font-size: 3em;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%);
}

.replay-viewer > .replay-controls > .progress-bar {
    position: relative;
    height: 5px;
    background-color: gray;
    width: 80%;
    margin: 7px auto;
}

.replay-viewer > .replay-controls > .progress-bar > .progress-position {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: red;
}

.replay-viewer > .replay-controls > .progress-bar > .progress-loaded {
    position: absolute;
    height: 5px;
    background-color: white;
}

.replay-viewer > .replay-controls > .progress-bar > .round-text {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 20px;
    color: white;
}

.replay-viewer > .replay-controls > .button-container {
    width: 80%;
    margin: 0 auto;
}

.replay-viewer > .replay-controls > .button-container > button {
    margin: 2px;
    background-color: transparent;
    border: none;
    color: white;
}

.replay-viewer > .replay-controls > .button-container > button > img {
    width: 20px;
    filter: invert(100%);
}

.replay-viewer > .replay-controls > .button-container > button:hover > img {
    margin: -1px 1px 1px -1px;
    filter: drop-shadow(1px);
}

.replay-viewer > .replay-controls > .button-container > button:active > img {
    margin: 1px -1px -1px 1px;
}
