body{
  color: #505c66;
}

button{
  color: black !important;
  border-color: black;
  background-color: black;
}

.invisible{
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

.hoverthingy{
  transition: background-color 1s;
  background-color: #FFFFFF;
}

.hoverthingy:hover{
  background-color: #000000;
}

.visible{
  display: block;
  opacity: 1;
  transition: opacity 1s;
}

#divNewGame{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgba(255,255,255, 0.7);
  z-index: 10000;
}

#divNewGameDialog{
  position: absolute;
  width: 80vw;
  left: 15vw;
  top: 10vh;
  padding: 5vmin;
  border-radius: 10vmin;
  background-color: #FFFFFF;
}

.select-human{
  background-image: url(assets/logo_small.png);
  width: 10vw;
  height: 10vw;
}
