.sidebar.wide{
  max-width: 40vw;
  border: 1px solid #ddd;
}

.sidebar.retractable{
  transition: max-width 0.2s ease-in-out, min-width 0.2s ease-in-out;
  overflow-x: hidden;
}

.retracted{
  max-width: 0 !important;
  min-width: 0 !important;
}

.server{
  font-family: monospace;
  background-color: black;
  color: #EEE;
  padding: 0.5em;
  max-height: 80vh;
  overflow-y: scroll;
}

.unicode-icon{
  font-weight: bold;
  font-size: 100%;
  padding-right: 0.2em;
  margin-left: -0.5em;
  margin-right: 0.5em;
}
.form-control::after{
  content: ' '; /* Hotfix for button padding with React*/
}

.main-container{
  padding: 0.2em;
  max-width: 50rem;
  margin: 0 auto;
}

.game-creation select{
  padding: 0;
  margin-bottom: 0.5em;
}

.game-creation input {
  font-size: 200%;
  margin-bottom: 0.5em;
}

.game-creation code {
  display: block;
  overflow: auto;
}

.game-creation div#vs {
  font-size: 150%;
  text-align: center;
  margin: 1em auto;
}

.game-creation div#start button {
  font-size: 200%;
}

.replay-viewer{
  width: 100%;
  height: 100%;
}

.replay-viewer>canvas{
  width: 100%;
  height: 100%;
}

.replay-controls button {
  font-size: 3vh;
}

.replay-viewer > .replay-controls {
    position: absolute;
    height: 5vh;
    bottom: 0;
    width: 100%;
    font-size: 3em;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%);
}

.replay-viewer > .replay-controls > .progress-bar {
    position: relative;
    height: 0.5vh;
    background-color: gray;
    width: 80%;
    margin: 0.6vh auto;
    border-radius: 3px;
}

.replay-viewer > .replay-controls > .progress-bar > div.progress-position {
    position: absolute;
    height: 0.5vh;
    width: 0.5vh;
    background-color: red;
    border-radius: 3px;
}

.replay-viewer > .replay-controls > .progress-bar > .progress-loaded {
    position: absolute;
    height: 0.5vh;
    background-color: white;
    border-radius: 3px;
}

.replay-viewer > .replay-controls > .progress-bar > .round-text {
    position: absolute;
    right: 0;
    top: 1vh;
    font-size: 2vh;
    color: white;
}

.replay-viewer > .replay-controls > .button-container {
    width: 80%;
    margin: 0 auto;
}

.replay-viewer > .replay-controls > .button-container > button {
    margin: 2px;
    background-color: transparent;
    border: none;
    color: white;
}

.replay-viewer > .replay-controls > .button-container > button.save {
    position: absolute;
    right: 0;
}

img.svg-icon {
    width: 1.2vw;
    filter: invert(100%);
}

.replay-viewer > .replay-controls > .button-container > img.speed-label {
    margin: auto 2px auto 1vw;
}

.replay-viewer > .replay-controls > .button-container > .playbackSpeed {
}

/* Styling Range Input */
input[type=range]{
    -webkit-appearance: none;
    width: 20vw;
    height: 2vh;
    background-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    margin-top: 0;
    width: 100%;
    height: 0.5vh;
    background: #ccc;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1.6vh;
    width: 4px;
    background: white;
    margin-top: -0.5vh;
    border-radius: 3px;
}

input[type=range].progress-loaded::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1.0vh;
    width: 1.0vh;
    background: red;
    margin-top: -0.3vh;
    border-radius: 5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
/* Styling Range Input END */

.replay-viewer > .replay-controls > .button-container > button:hover > img {
    margin: -1px 1px 1px -1px;
    filter: drop-shadow(1px);
}

.replay-viewer > .replay-controls > .button-container > button:active > img {
    margin: 1px -1px -1px 1px;
}

.logMessage .text{
  font-size: 80%;
}

#blank{
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}