.replay-viewer{
  position: relative;
  font-family: 'Ubuntu', 'Arial', sans-serif;
  overflow: hidden;
}

.replay-viewer>canvas{
    width: 100%;
    height: 100%;
}

.replay-viewer>.replay-debug{
    position: fixed;
    right: 10;
    top: 10;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-family: monospace;
    z-index: 100;
}

.replay-viewer>.replay-controls{
    position: absolute;
    right: 10;
    bottom: 10;
    font-size: 3em;
}

.replay-viewer>.replay-controls>button{
    border: 1px solid black;
    background-color: white;
    transition: background-color 1s;
    margin: 2px;
}

.replay-controls>button:hover{
    background-color:#ddd;
}

.replay-controls>button:active{
  color: red;
}

.replay-viewer>.display{
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 3vh;
  font-weight: bold;
}

.display>.red{
  position: absolute;
  left: 0;
  top: 0;
  color: #ff0000;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background: rgba(255, 255,255, 0.5);
  border-bottom-right-radius: 3vh;
}

.display>.blue{
  position: absolute;
  right: 0;
  top: 0;
  color: #0000ff;
  text-align: right;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background: rgba(255, 255,255, 0.4);
  border-bottom-left-radius: 3vh;
}

.carrots::before{
  content: "Karotten: ";
}

.salads::before{
  content: "Salate: ";
}

.display .cardbox{
  position: relative;
  height: 4vh;
  width: 4vh;
  padding: 0;  
  display: inline-block;
}

.display .card{
  height: 4vh;
  position: absolute;
  top: 0;
  left: 0;
}

.display .cardbox.invisible{
  display: none;
}

.display .highlight-card{
  position: absolute;
  top: 0;
  left: 0;
  height: 4vh;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.display .highlight-card.interactive:hover{
  opacity: 0.4;
}

.display .highlight-card.interactive:active{
  opacity: 1;
}

.display .round{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 5vh;
}


.replay-viewer .progressbox{
  width: 101%;
  height: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,0.5);
}
.replay-viewer .progressbar{
  width: 0%;
  height: 1em;
  transition: width 1s;
  padding: 0;
  margin: 0;
  background-color: green;
}


.endscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 6em);
    height: calc(100% - 8em);
    padding: 1em;
    margin: 3em 3em;
    border-radius: 3em;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 0.5s;
    opacity: 0;
    text-align: center;
    color: white;
}

.winPicture{
    max-height: 12em;
    margin-top: calc(25% - 12em);
}

.winReason{
    font-size: 4em;
}

.winName{
  font-size: 4em;
}

.winBlue{
    font-weight: bold;
    color: #89CFF0;
}

.winRed{
    font-weight: bold;
    color: #FF6961;
}